html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: url(../assets/img/background.jpg) no-repeat top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/*header style start*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-size: 5vh;
    color: #ffffff;
}

/*header style end*/

/*main style start*/

.main__container {
    position: relative;
    background-color: #dddddd;
    max-width: max-content;
    max-height: max-content;
    margin: 0 auto;
    padding: calc(100% - 97%);
    border-radius: 20px;
}

.playground {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.container-setting {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 15px;
}

.card {
    transform-style: preserve-3d;
    position: relative;
}

.card.flip {
    transform: rotateY(180deg);
}

.shirt, .icon {
    position:absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
}

.shirt {
    z-index: 1;
    cursor: pointer;
}

.shirt:hover {
    box-shadow: 0 0 10px black;
}

.icon {
    transform: rotateY(180deg);
}

.setting-menu {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #9f9c9c;
    padding: 5%;
    border-radius: 10%;
    display:none;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.setting-menu.active {
display: flex;
}

.tittle-choose {
    padding-bottom: 5%;
    font-size: 20px;
    color: #0043ff;
}

.choose-param-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.choose-param-title {
    font-size: 16px;
}

.table-score {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #9f9c9c;
    padding: 5%;
    border-radius: 10%;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:3
}

.table-score.active {
    display: flex;
}


.end-game {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #9f9c9c;
    padding: 5%;
    border-radius: 10%;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:2
}

.end-game.active {
    display: flex;
}

.end-game__title {
font-size: 30px;
}
/*main style end*/

/*footer style start*/

.footer {
    border-top: 7px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 6.5vh;
    width: calc(100% - 60px);
    max-width: 1600px;
    align-items: center
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.link:hover {
    fill: #ffa500;
    color: #ffa500;
}

.footer__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.rss-logo {
    fill: #ffffff;
    height: 5vh;
    width: 15vh;
}

/*footer style end*/