@keyframes rotateY1 {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0);
    }
}

@keyframes rotateY2 {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(90deg);
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: url(../assets/img/background.jpg) no-repeat top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/*header style start*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;


}

.main-title {
    font-size: 5vh;
    color: #ffffff;
}

/*header style end*/

/*main style start*/

.main__container {
    position: relative;
    background-color: #dddddd;
    max-width: max-content;
    max-height: max-content;
    margin: 0 auto;
    padding: calc(100% - 97%);
    border-radius: 20px;
}

.playground {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.container-setting {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 15px;
}

.btn-setting {
}

.current-score {

}

.icon {
    cursor: pointer;
    /*display: none;*/
}

.icon:hover {
    box-shadow: 0 0 10px black;
}

.new-game-btn {
}

.setting-menu {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #9f9c9c;
    padding: 5%;
    border-radius: 10%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.tittle-choose {
    padding-bottom: 5%;
    font-size: 20px;
}

.choose-param-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.choose-param-title {
    font-size: 16px;
}

/*main style end*/

/*footer style start*/

.footer {
    border-top: 7px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 6.5vh;
    width: calc(100% - 60px);
    max-width: 1600px;
    align-items: center
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.link:hover {
    fill: #ffa500;
    color: #ffa500;
}

.footer__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.rss-logo {
    fill: #ffffff;
    height: 5vh;
    width: 15vh;
}

/*footer style end*/